@import url("../../App.css");
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
header
#header1 {
  color: var(--blue-deep);
  background: var(--white);
  box-shadow: var(--Header1-shadow);
  letter-spacing: var(--em05);
}
#header2 {
  color: var(--white);
  background: var(--blue);
  box-shadow: var(--Header2-shadow);
  letter-spacing: var(--em1);
}
