@import url("../../App.css");
header{
  background: var(--blue-deep);
}

#header1 {
  color: var(--white);
  letter-spacing: var(--em1);

}

#header2 {
  color: var(--white);
  background: #ffffff20;
  letter-spacing: var(--em1);
}
